@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body { font-family: 'Inter', sans-serif; }

.max-container {
  max-width: 1024px;
}

/* Sidebar behavior */
#sidebar.active {
  transform: translateX(0);
}

#overlay {
  transition: opacity 0.3s ease;
}
